doctype html
html
  head
    title= title
    title Book Information
  link(rel="stylesheet" href="https://bootswatch.com/5/journal/bootstrap.min.css")
  
  body
    block content
    script(src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js")
    script(src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js")
