extends layout

block content
    title Login Page
    .container.mt-5
        .row.justify-content-center
            .col-md-6
                .card
                    .card-header Login
                    .card-body
                        form(action="/api/book/summary", method="get", role="form") 
                            .form-group
                                label(for='username') Username
                                input#username.form-control(type='text', placeholder='Enter your username')
                            .form-group
                                label(for='password') Password
                                input#password.form-control(type='password', placeholder='Enter your password')
                            button.btn.btn-primary.btn-block(type='submit') Login
                        .card-footer
                            p.mb-0
                                | Don&apos;t have an account? 
                                a(href='/') Register here